* {
    box-sizing: border-box;
}

:root {
    --color1: #D89584;
    --color2: #F4F4F4;
    --color3: #979797;
    --color4: #656565;
}

 body {
     margin: 0;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     line-height: 1.4;
 }

 iframe {
    width: 100%;
    border: none;
    height: 400px;
 }

 div.cover {
    background: url(../IMG/cover_overlay.png) no-repeat center/100% 100%, url(../IMG/cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
 }

 img.cover-profile {
    height: 140px;
    position: relative;
    left: 50%;
    margin-left: -70px;
    margin-top: 30px;
 }

 h1 {
     color: white;
     text-align: center;
     font-size: 42px;
     margin-top:10px;
     margin-bottom: 0;
 }

 div.cover p {
     color: lightgray;
     text-align: center;
     margin-top: 4px;
     margin-bottom: 4px;
     font-size: 14px;
 }

 div.cover-contact {
    position: absolute;
    top: 20px;
    left: 15px;
    border-left: 2px solid var(--color1);
    padding-left: 8px;
 }

 div.cover-contact p {
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
 }

 div.cover-contact p:hover {
    font-weight: bold;
 }

 div.cover-contact p:first-child {
     margin-bottom: 10px;
 }

 div.cover-contact * {
     color: white;
     font-size: 14px;
 }

 a.contact-button {
     color: var(--color1);
     border: 1px solid var(--color1);
     padding: 4px 15px;
     text-decoration: none;
     background-color: #00000050;
     font-size: 14px;
     display: inline-block;
     margin-top: 18px;
 }

 a.button-portfolio {
    position: absolute;
    top: 12px;
    right: 20px;
 }

 a.contact-button:hover {
    color: white;
     border: 1px solid white;
 }

 .section {
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 30px;
     padding-bottom: 20px;
     overflow: auto;
 }

 .section p {
     text-align: justify;
     margin-bottom: 34px;
 }

 div.section-grise1 {
     background: url(../IMG/triangle2white.svg) no-repeat center bottom -1px/100%;
     background-color: var(--color2);
     padding-bottom: 80px;
 }

 div.section-grise2 {
     background: url(../IMG/triangle1white.svg) no-repeat center top -1px/100%;
     background-color: var(--color2);
     padding-top: 100px;
 }

 h2 {
     text-align: center;
     font-size: 34px;
     margin-top: 0;
 }

 div.separateur {
     background-color: var(--color3);
     height: 1px;
     width: 150px;
     position: relative;
     left: 50%;
     margin-left: -75px;
     margin-top: 0;
 }

 div.section-grise1 p {
     font-size: 16px;
     text-align: justify;
     color: var(--color4);
     max-width: 670px;
     margin-left: auto;
     margin-right: auto;

 }

 img.col-content {
    width: 30%;
 }

 div.col-content {
    width: 70%;
    padding-left: 16px;
 }

 .float-right {
     float: right;
 }

 div.bordure-texte {
    text-align: justify;
    border-left: 2px solid var(--color1);
    padding-left: 8px;
    height: auto;
    display: inline-block;
 }

 div.bordure-texte p {
     margin-top: 0;
     margin-bottom: 0;
 }

 div.bordure-texte a {
     text-decoration: none;
     color: black;
     font-weight: bold;
 }

 div.bordure-texte a:hover {
    color: var(--color1);
}

div.bordure-texte ul {
    margin-bottom: 0;
}

 div.barre-verticale {
     height: 50px;
     width: 2px;
     background-color: var(--color1);
     margin-right: 4px;
 }

.col-portfolio {
    width: 45%;
}

td.cel-portfolio {
    text-align: center;
}

a.cel-portf {
    text-decoration: none;
    color: black;
}

a.cel-portf:hover {
    text-decoration: none;
    color: var(--color1);
    font-weight: bold;
}

div.frame {
    margin: 30px 50px;
    padding:20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
}

div.frame p.frame-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

div.frame img {
    width: 120px;
}

/* PORTFOLIO */
div.portfolio-header {
    height: 90px;
    background: url(../IMG/header.png) no-repeat center/cover;
    position: relative;
}

.portfolio-header-title {
    margin-top:0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 22px;
    padding-left: 15px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
}

h2.portfolio {
    font-size: 26px;
    color: black;
    font-weight: normal;
}

a.portfolio-back {
    color: var(--color1);
    text-decoration: none;
    margin-left: -15px;
}

a.portfolio-back:hover {
    color: black;
    font-weight: bold;
}

img.portfolio {
    margin-top: 30px;
    width: 70%;
    max-width: 481px;
}

.display-mobile {
    display: none;
}

/* RESPONSIVE DESIGN FOR MOBILE PHONES */
@media only screen and (max-width: 767px) {
    img.cover-profile {
        height: 80px;
        left: 50%;
        margin-left: -40px;
        margin-top: 80px;
     }
    
     h1 {
         font-size: 26px;
         margin-top:6px;
     }

     h2 {
        font-size: 22px;
    }
    
     div.cover p {
         margin-top: 5px;
         margin-bottom: 2px;
         font-size: 12px;
     }
    
     div.cover-contact {
        position: absolute;
        top: 20px;
        left: 15px;
        border-left: 2px solid var(--color1);
        padding-left: 8px;
     }

     div.cover-contact * {
        font-size: 12px;
    }
    
     div.cover-contact p {
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
     }

     .section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section p {
        font-size: 14px;
    }
   
    div.section-grise1 {
        padding-top: 0;
        padding-bottom: 60px;
    }

    div.section-grise1 p {
        font-size: 14px;
    }

    img.col-content {
        width: 100%;
     }
    
     div.col-content {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
     }

     .col-portfolio {
        width: 100%;
        margin-bottom: 20px;
    }

    div.frame {
        margin: 0 0;
        padding:0 0;
        box-shadow: none;
    }

    div.frame p.frame-title {
        font-size: 18px;
    }

    div.frame img {
        width: 70px;
    }

    div.bordure-texte p {
        font-size: 14px;
    }

    /* PORTFOLIO */
    .portfolio-header-title {
        font-size: 20px;
        padding-top: 28px;
        padding-left: 8px;
    }

    a.contact-button {
        padding: 4px 10px;
        font-size: 12px;
        margin-top: 15px;
    }

    h1.portfolio {
        font-size: 30px;
    }
    
    h2.portfolio {
        font-size: 20px;
    }

    img.portfolio {
        margin-top: 20px;
        width: 100%;
    }

    .display-mobile {
        display: block;
    }
}